.editar{
    background-color: #E8E8E8;
    color: #ADADAD;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    width: 5em;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
}