.column{
    background-color: #C3DBF5;
    padding: 1em;
    min-height: 50vh;
    width: 19em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

.toDoTitulo{
    font-family: 'Poppins', sans-serif;
    color: #359CF9;
    font-size: 1.5em;
    align-items: center;
}