.task{
    display: flex;
    flex-direction: column;
    background-color: #FAFCFE;
    border-radius: 0.5em;
    padding: 1em;
    padding-top: 0em;
    margin-top: 1em;

    .inputDescricao{
        margin-top: 1em;
        height: 3em;
        border: 1px solid #D1D1D1;
        border-radius: 0.5em;
        padding: 0.5em;
        font-family: 'Poppins', sans-serif;
        font-size: 1em;
        color: #3A3A3A;
        
    }
    
    .inputData{
        height: 1em;
        margin-left: 1em;
        border: 1px solid #D1D1D1;
        border-radius: 0.5em;
        padding: 0.5em;
        font-family: 'Poppins', sans-serif;
        font-size: 1em;
        color: #3A3A3A;
    }
    .spanDescricao{
        margin-top: 3em;
        font-size: 1em;
        font-family: 'Poppins', sans-serif;
        color: #3A3A3A;
    }

    .descricao{
        margin-top: 0.5em;
        font-size: 0.8em;
        font-family: 'Poppins', sans-serif;
        color: #606060;
        font-weight: normal;
    }
    .containerData{
        margin-top: 1em;
        display: flex;
        flex-direction: row;

        
        align-items: center;
        .spanType{
            font-size: 1em;
            font-family: 'Poppins', sans-serif;
            color: #3A3A3A;
            font-weight: normal;
        }
        .data{
            margin-left: 0.5em;
            font-size: 1em;
            font-family: 'Poppins', sans-serif;
            color: #606060;
            font-weight: normal;
        }

    }

    .containerBotoes{
        margin-top: 2em;
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;

        & > * {
            margin-right: 0.5em;
            margin-bottom: 0.5em;
        }
    }

    
}

.atrasado{
    font-weight: bold;
    font-family: poppins, sans-serif;
    background-color: #F5D1D1;
    color: #A02D2D;
    font-size: 0.75em;
    padding: 0.5em;
    margin-left: 0.5em;
    border-radius: 0.5em;
}