.excluir{
    background-color: #F4C3CE;
    color: #ED1429;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    width: 5em;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
}